body
  margin: 0
  font-family: "Roboto", sans-serif
  color: black

main
  margin: 0 2rem

table
  border-collapse: collapse
  margin: 25px 0
  font-size: 0.9em
  font-family: sans-serif
  min-width: 400px
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15)

  th, td
    padding: 12px 15px

  thead
    tr
      background-color: #009879
      color: #ffffff
      text-align: left