nav
  color: white
  display: flex
  align-items: center
  justify-content: space-between
  background-color: rgb(30,30,30)
  padding: 0 2rem
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px

  ul
    display: flex
    align-items: center
    margin: 0

  li
    font-size: 20pt
    list-style: none

    a
      display: block
      padding: 2rem 2rem
      text-decoration: none
      color: grey
      transition: 0.3s ease-in-out
      cursor: pointer

      &.active
        background-color: rgb(60,60,60)

      &:hover
        color: white
